<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Select a skill</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Select a skill"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectOption()">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
