.Main-page {
  display: block;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
  }
}

.Skills-selector {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &__selected-languages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    flex-grow: 0.5;
    height: 100%;
  }
}
