.Main-page {
  display: block;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
  }
}

.Skills-selector {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &__selected-languages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    flex-grow: 0.5;
    height: 100%;
  }

  &__list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  @media screen {
    @media (max-width: 768px) {
      &__selected-languages {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-grow: 1;
        height: 100%;
      }
    }
  }
}
